# Week04

In [53]:
import pandas as pd

## 本周内容介绍

![](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/05_newcolumn_2.svg)

### 数据框新增变量 (new column/variable)

如何创建从现有列派生的新列？

无需遍历数据表的所有行即可进行计算。针对列(变量)的数据进行操作，一一改变转换元素的值。基于数据框其他现有数据新增变量的方法很简单：

1. 直接赋值
2. 通过assign

![](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/07_melt.svg)

### 数据框重塑 (reshape)

如何重塑数据框的布局，以求各种数据透视？

以多种方式更改数据表的结构。您可以melt()从宽到长/整齐的格式或pivot() 从长到宽格式的数据表。使用内置的聚合，可以使用sinlge命令创建数据透视表。

1. 经过统计得到多维度指标数据
2. 使用unstack实现数据二维透视  

![](https://pandas.pydata.org/pandas-docs/version/1.0.2/_images/08_concat_row.svg)

### 数据框聚合(merge)

如何合并来自多个表的数据？

可以按列将多个数据框连接为新的数据框，并且可以提供类似数据库的联接/合并操作来组合多个数据框。

# 新变量处理
## Pandas字符串处理

In [55]:
import pandas as pd

* 首先调取pandas库，info函数看int和object

In [56]:
# A-0 简单读档并查看数据框讯息

df = pd.read_csv ("20春_pandas_week02_hurun_unicorn.tsv", encoding = "utf8", sep="\t")
df.info()
# 注意看Dtype!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 10 columns):
排名              494 non-null int64
企业名称            494 non-null object
Company Name    494 non-null object
估值（亿人民币）        494 non-null int64
国家              494 non-null object
城市              494 non-null object
行业              494 non-null object
掌门人/创始人         494 non-null object
成立年份            494 non-null int64
部分投资机构          494 non-null object
dtypes: int64(3), object(7)
memory usage: 38.7+ KB

In [57]:
df

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development"
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig..."
...,...,...,...,...,...,...,...,...,...,...
489,264,Zeta Global,Zeta Global,70,美国,纽约,人工智能,"David A. Steinberg, John Sculley",2007,"GPI Capital, GSO Capital Partners"
490,264,掌门1对1,Zhangmen,70,中国,上海,教育科技,张翼,2014,顺为资本、达晨创投、华平投资
491,264,转转,Zhuanzhuan,70,中国,北京,电子商务,姚劲波,2015,腾讯
492,264,Zipline International,Zipline International,70,美国,半月湾,物流,"Keenan Wyrobek, Keller Rinaudo, Will Hetzler",2014,"Sequoia Capital, Visionnaire Ventures, Katalys..."
493,264,ZipRecruiter,ZipRecruiter,70,美国,洛杉矶,电子商务,"Ian Siegel, Joe Edmonds, Ward Poulos, Willis Redd",2010,IVP (Institutional Venture Partners)

### 获取某列Series的str属性，使用各种字符串处理函数

* str.split()有三个参数：第一个参数就是引号里的内容：就是分列的依据，可以是空格，符号，字符串等等。
* 第二个参数就是前面用到的expand=True，这个参数直接将分列后的结果转换成DataFrame。拆分为表格，清楚看到每个企业有几个资本投资，没有就用none表示
* 第三个参数的n=数字就是限制分列的次数。就是当用于分列的依据符号在有多个的话需要指定分列的次数（不指定的话就会根据符号有几个分列几次）。

In [58]:
# A-2 实现字符串的拆分函数split()
df["部分投资机构"].str.split('、')

0                                     [春华资本, 中投海外, 红杉资本]
1                               [红杉资本, 海纳亚洲, 纪源资本, 启明创投]
2                           [腾讯, 阿里巴巴, 红杉资本, 经纬中国, 纪源资本]
3         [Golden Gate Capital, Koch Equity Development]
4      [M13, Timothy Davis, Evolution VC Partners, Ti...
                             ...
489                  [GPI Capital, GSO Capital Partners]
490                                   [顺为资本, 达晨创投, 华平投资]
491                                                 [腾讯]
492    [Sequoia Capital, Visionnaire Ventures, Kataly...
493               [IVP (Institutional Venture Partners)]
Name: 部分投资机构, Length: 494, dtype: object

In [59]:
# A-2 Extra expand
df["部分投资机构"].str.split('、',expand=True)

,0,1,2,3,4,5
0,春华资本,中投海外,红杉资本,None,None,None
1,红杉资本,海纳亚洲,纪源资本,启明创投,None,None
2,腾讯,阿里巴巴,红杉资本,经纬中国,纪源资本,None
3,"Golden Gate Capital, Koch Equity Development",None,None,None,None,None
4,"M13, Timothy Davis, Evolution VC Partners, Tig...",None,None,None,None,None
...,...,...,...,...,...,...
489,"GPI Capital, GSO Capital Partners",None,None,None,None,None
490,顺为资本,达晨创投,华平投资,None,None,None
491,腾讯,None,None,None,None,None
492,"Sequoia Capital, Visionnaire Ventures, Katalys...",None,None,None,None,None
493,IVP (Institutional Venture Partners),None,None,None,None,None

In [60]:
df["部分投资机构"].str.split('、',expand=True,n=4)

                                                     0     1     2     3     4
0                                                 春华资本  中投海外  红杉资本  None  None
1                                                 红杉资本  海纳亚洲  纪源资本  启明创投  None
2                                                   腾讯  阿里巴巴  红杉资本  经纬中国  纪源资本
3         Golden Gate Capital, Koch Equity Development  None  None  None  None
4    M13, Timothy Davis, Evolution VC Partners, Tig...  None  None  None  None
..                                                 ...   ...   ...   ...   ...
489                  GPI Capital, GSO Capital Partners  None  None  None  None
490                                               顺为资本  达晨创投  华平投资  None  None
491                                                 腾讯  None  None  None  None
492  Sequoia Capital, Visionnaire Ventures, Katalys...  None  None  None  None
493               IVP (Institutional Venture Partners)  None  None  None  None

[494 rows x 5 columns]

In [61]:
# A-3 可用contains方法查询是否包含某些字符
df["部分投资机构"].str.contains("红杉资本")

0       True
1       True
2       True
3      False
4      False
       ...
489    False
490    False
491    False
492    False
493    False
Name: 部分投资机构, Length: 494, dtype: bool

### 补充 | 可同时查询多个字符

In [62]:
df["部分投资机构"].str.contains("红杉资本|腾讯")

0       True
1       True
2       True
3      False
4      False
       ...
489    False
490    False
491     True
492    False
493    False
Name: 部分投资机构, Length: 494, dtype: bool

In [63]:
# A-4 额外讲解（1）：isnumeric 判断是否为数字
df["企业名称"].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
489    False
490    False
491    False
492    False
493    False
Name: 企业名称, Length: 494, dtype: bool

In [64]:
# A-5 额外讲解（2）数字列是无法使用str方法的
df["部分投资机构"].str.len()
df["估值（亿人民币）"].str.len()

AttributeError: Can only use .str accessor with string values!

### 新增一列
* 1. 直接赋值 把拆分好的list直接加到后面，用到切片在后面直接赋值，先通过字符串操作保留放到后面
* 2. df.assign方法

In [65]:
# B-1 直接赋值
df.loc[:,"部分投资机构_list"]=df["部分投资机构"].str.split('、')

In [66]:
df

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构,部分投资机构_list
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本,"[春华资本, 中投海外, 红杉资本]"
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投,"[红杉资本, 海纳亚洲, 纪源资本, 启明创投]"
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本,"[腾讯, 阿里巴巴, 红杉资本, 经纬中国, 纪源资本]"
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development","[Golden Gate Capital, Koch Equity Development]"
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig...","[M13, Timothy Davis, Evolution VC Partners, Ti..."
...,...,...,...,...,...,...,...,...,...,...,...
489,264,Zeta Global,Zeta Global,70,美国,纽约,人工智能,"David A. Steinberg, John Sculley",2007,"GPI Capital, GSO Capital Partners","[GPI Capital, GSO Capital Partners]"
490,264,掌门1对1,Zhangmen,70,中国,上海,教育科技,张翼,2014,顺为资本、达晨创投、华平投资,"[顺为资本, 达晨创投, 华平投资]"
491,264,转转,Zhuanzhuan,70,中国,北京,电子商务,姚劲波,2015,腾讯,[腾讯]
492,264,Zipline International,Zipline International,70,美国,半月湾,物流,"Keenan Wyrobek, Keller Rinaudo, Will Hetzler",2014,"Sequoia Capital, Visionnaire Ventures, Katalys...","[Sequoia Capital, Visionnaire Ventures, Kataly..."
493,264,ZipRecruiter,ZipRecruiter,70,美国,洛杉矶,电子商务,"Ian Siegel, Joe Edmonds, Ward Poulos, Willis Redd",2010,IVP (Institutional Venture Partners),[IVP (Institutional Venture Partners)]

In [67]:
# B-2 df.assign方法

In [68]:
# 可以同时添加多个新的列
df.assign(
    部分投资机构_list = lambda x : x["部分投资机构"].str.split('[、,,]'),
    掌门人创始人_list = lambda x : x["掌门人/创始人"].str.split('[、,,]')
)

,排名,企业名称,Company Name,估值（亿人民币）,国家,城市,行业,掌门人/创始人,成立年份,部分投资机构,部分投资机构_list,掌门人创始人_list
0,1,蚂蚁金服,Ant Financial,10000,中国,杭州,金融科技,井贤栋,2014,春华资本、中投海外、红杉资本,"[春华资本, 中投海外, 红杉资本]",[井贤栋]
1,2,字节跳动,Bytedance,5000,中国,北京,媒体和娱乐,张一鸣,2012,红杉资本、海纳亚洲、纪源资本、启明创投,"[红杉资本, 海纳亚洲, 纪源资本, 启明创投]",[张一鸣]
2,3,滴滴出行,Didi Chuxing,3600,中国,北京,共享经济,程维,2012,腾讯、阿里巴巴、红杉资本、经纬中国、纪源资本,"[腾讯, 阿里巴巴, 红杉资本, 经纬中国, 纪源资本]",[程维]
3,4,Infor,Infor,3500,美国,纽约,云计算,Jim Schaper,2002,"Golden Gate Capital, Koch Equity Development","[Golden Gate Capital, Koch Equity Development]",[Jim Schaper]
4,5,JUUL Labs,JUUL Labs,3400,美国,旧金山,消费品,"Adam Bowen, James Monsees, Kevin Burns, Tim Da...",2015,"M13, Timothy Davis, Evolution VC Partners, Tig...","[M13, Timothy Davis, Evolution VC Partners, ...","[Adam Bowen, James Monsees, Kevin Burns, Ti..."
...,...,...,...,...,...,...,...,...,...,...,...,...
489,264,Zeta Global,Zeta Global,70,美国,纽约,人工智能,"David A. Steinberg, John Sculley",2007,"GPI Capital, GSO Capital Partners","[GPI Capital, GSO Capital Partners]","[David A. Steinberg, John Sculley]"
490,264,掌门1对1,Zhangmen,70,中国,上海,教育科技,张翼,2014,顺为资本、达晨创投、华平投资,"[顺为资本, 达晨创投, 华平投资]",[张翼]
491,264,转转,Zhuanzhuan,70,中国,北京,电子商务,姚劲波,2015,腾讯,[腾讯],[姚劲波]
492,264,Zipline International,Zipline International,70,美国,半月湾,物流,"Keenan Wyrobek, Keller Rinaudo, Will Hetzler",2014,"Sequoia Capital, Visionnaire Ventures, Katalys...","[Sequoia Capital, Visionnaire Ventures, Kata...","[Keenan Wyrobek, Keller Rinaudo, Will Hetzler]"
493,264,ZipRecruiter,ZipRecruiter,70,美国,洛杉矶,电子商务,"Ian Siegel, Joe Edmonds, Ward Poulos, Willis Redd",2010,IVP (Institutional Venture Partners),[IVP (Institutional Venture Partners)],"[Ian Siegel, Joe Edmonds, Ward Poulos, Will..."

* assign函数同时增加多个列
* lambda函数（匿名函数），省略函数命名直接使用X就是df列表，省略我们定义函数的部分直接用lambda+参数

# 数据框重塑
##  Pandas的stack实现数据透视

stack()是将原来的列索引转成了最内层的行索引，这里是多层次索引，其中AB索引对应第三层，即最内层索引。

![](http://localhost:8888/files/111.png)
表格在行列方向上均有索引（类似于DataFrame），花括号结构只有“列方向”上的索引（类似于层次化的Series），结构更加偏向于堆叠（Series-stack，方便记忆）。stack函数会将数据从”表格结构“变成”花括号结构“，即将其行索引变成列索引

In [69]:

df_独角兽_创始人_准备 =df[["企业名称","掌门人/创始人"]]
df_独角兽_创始人_准备.index.name="序号"
df_独角兽_创始人 =pd.merge(df_独角兽_创始人_准备.drop('掌门人/创始人', axis=1),\
                          df['掌门人/创始人'].str.split(',', expand=True)\
                                            .stack().reset_index(level=1,drop=True)
                                            .rename('掌门人/创始人'),\
                          on="序号")

df_独角兽_投资机构_准备 = df[["企业名称","部分投资机构"]]
df_独角兽_投资机构_准备.index.name="序号"
df_独角兽_投资机构 = pd.merge(df_独角兽_投资机构_准备.drop('部分投资机构', axis=1),\
                             df['部分投资机构'].str.split('、', expand=True)\
                                             .stack().reset_index(level=1, drop=True)
                                             .rename('部分投资机构'),\
                             on="序号")


display(df_独角兽_创始人)
display(df_独角兽_投资机构)

                      企业名称        掌门人/创始人
序号
0                     蚂蚁金服            井贤栋
1                     字节跳动            张一鸣
2                     滴滴出行             程维
3                    Infor    Jim Schaper
4                JUUL Labs     Adam Bowen
..                     ...            ...
492  Zipline International   Will Hetzler
493           ZipRecruiter     Ian Siegel
493           ZipRecruiter    Joe Edmonds
493           ZipRecruiter    Ward Poulos
493           ZipRecruiter    Willis Redd

[911 rows x 2 columns]

                      企业名称                                             部分投资机构
序号
0                     蚂蚁金服                                               春华资本
0                     蚂蚁金服                                               中投海外
0                     蚂蚁金服                                               红杉资本
1                     字节跳动                                               红杉资本
1                     字节跳动                                               海纳亚洲
..                     ...                                                ...
490                  掌门1对1                                               达晨创投
490                  掌门1对1                                               华平投资
491                     转转                                                 腾讯
492  Zipline International  Sequoia Capital, Visionnaire Ventures, Katalys...
493           ZipRecruiter               IVP (Institutional Venture Partners)

[885 rows x 2 columns]

In [70]:
df_独角兽_创始人_准备 =df[["企业名称","掌门人/创始人"]]
df_独角兽_创始人_准备

                      企业名称                                            掌门人/创始人
序号
0                     蚂蚁金服                                                井贤栋
1                     字节跳动                                                张一鸣
2                     滴滴出行                                                 程维
3                    Infor                                        Jim Schaper
4                JUUL Labs  Adam Bowen, James Monsees, Kevin Burns, Tim Da...
..                     ...                                                ...
489            Zeta Global                   David A. Steinberg, John Sculley
490                  掌门1对1                                                 张翼
491                     转转                                                姚劲波
492  Zipline International       Keenan Wyrobek, Keller Rinaudo, Will Hetzler
493           ZipRecruiter  Ian Siegel, Joe Edmonds, Ward Poulos, Willis Redd

[494 rows x 2 columns]

#### drop为删除某一列

In [71]:
# B-2 drop()删除某列，作为准备合并的表格
df_待合并 =df_独角兽_创始人_准备.drop('掌门人/创始人', axis=1)
df_待合并

                      企业名称
序号
0                     蚂蚁金服
1                     字节跳动
2                     滴滴出行
3                    Infor
4                JUUL Labs
..                     ...
489            Zeta Global
490                  掌门1对1
491                     转转
492  Zipline International
493           ZipRecruiter

[494 rows x 1 columns]

#### split()中参数expand可以做什么？
#### [A]：expand表示是否把series类型转化为DataFrame类型

In [72]:
# B-3 split()拆分列元素
df['掌门人/创始人'].str.split(',', expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
序号,,,,,,,,,,,,,,
0,井贤栋,None,None,None,None,None,None,None,None,None,None,None,None,None
1,张一鸣,None,None,None,None,None,None,None,None,None,None,None,None,None
2,程维,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Jim Schaper,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Adam Bowen,James Monsees,Kevin Burns,Tim Danaher,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,David A. Steinberg,John Sculley,None,None,None,None,None,None,None,None,None,None,None,None
490,张翼,None,None,None,None,None,None,None,None,None,None,None,None,None
491,姚劲波,None,None,None,None,None,None,None,None,None,None,None,None,None
492,Keenan Wyrobek,Keller Rinaudo,Will Hetzler,None,None,None,None,None,None,None,None,None,None,None
493,Ian Siegel,Joe Edmonds,Ward Poulos,Willis Redd,None,None,None,None,None,None,None,None,None,None

#### stack对行进行索引操作

In [73]:
# B-4 stack()以最内层为索引堆叠,并删除某列的索引
df['掌门人/创始人'].str.split(',', expand=True).stack().reset_index(level=1,drop=True)

序号
0                井贤栋
1                张一鸣
2                 程维
3        Jim Schaper
4         Adam Bowen
           ...
492     Will Hetzler
493       Ian Siegel
493      Joe Edmonds
493      Ward Poulos
493      Willis Redd
Length: 911, dtype: object

In [74]:
# B-4 Extra 我们给新的Series命名
df_准备合并的列 =df['掌门人/创始人'].str.split(',', expand=True).stack().reset_index(level=1,drop=True).rename('掌门人/创始人')
df_准备合并的列

序号
0                井贤栋
1                张一鸣
2                 程维
3        Jim Schaper
4         Adam Bowen
           ...
492     Will Hetzler
493       Ian Siegel
493      Joe Edmonds
493      Ward Poulos
493      Willis Redd
Name: 掌门人/创始人, Length: 911, dtype: object

In [75]:
dict_准备合并的列 = {"序号":df_准备合并的列.index,"掌门人/创始人":df_准备合并的列.values}
df_准备合并列=pd.DataFrame(dict_准备合并的列)
df_准备合并列.head(20)

    序号              掌门人/创始人
0    0                  井贤栋
1    1                  张一鸣
2    2                   程维
3    3          Jim Schaper
4    4           Adam Bowen
5    4        James Monsees
6    4          Kevin Burns
7    4          Tim Danaher
8    5         Brian Chesky
9    5           Joe Gebbia
10   5   Nathan Blecharczyk
11   6                  计葵生
12   7            Elon Musk
13   8         Adam Neumann
14   8      Miguel McKevley
15   9        John Collison
16   9     Patrick Collison
17  10                   顾敏
18  11                  童文红
19  12                  陈生强

# 数据框聚合(merge)

## merge进行合并

* 数据会被复制
* 数目以多的一边为准

### merge的参数
on：列名，join用来对齐的那一列的名字，用到这个参数的时候一定要保证左表和右表用来对齐的那一列都有相同的列名。

left_on：左表对齐的列，可以是列名，也可以是和dataframe同样长度的arrays。

right_on：右表对齐的列，可以是列名，也可以是和dataframe同样长度的arrays。

left_index/ right_index: 如果是True的haunted以index作为对齐的key

how：数据融合的方法。

sort：根据dataframe合并的keys按字典顺序排序，默认是，如果置false可以提高表现。

In [76]:

df_独角兽_创始人 = pd.merge(df_待合并,df_准备合并的列,on= "序号")
df_独角兽_创始人

                      企业名称        掌门人/创始人
序号
0                     蚂蚁金服            井贤栋
1                     字节跳动            张一鸣
2                     滴滴出行             程维
3                    Infor    Jim Schaper
4                JUUL Labs     Adam Bowen
..                     ...            ...
492  Zipline International   Will Hetzler
493           ZipRecruiter     Ian Siegel
493           ZipRecruiter    Joe Edmonds
493           ZipRecruiter    Ward Poulos
493           ZipRecruiter    Willis Redd

[911 rows x 2 columns]

### 企业名称对应多个投资公司
* 首先把部分机构和所有企业名称取出来。把部分投资机构取出来split列表 字典企业名称 contains循环遍历每个投资方
* 找某一投资方投资的所有企业 建字典contains做一个字典 企业名称作为values
* 循环每个sublist取出来的item就是存到投资机构里面的值
* .join把列表变成字符串用，隔开

* Merge两个表格进行合并，用，隔开 前后是两个表格，按照序号的索引
* \换下一行
* stack按照序号
* reset-index删掉第二级索引，用字典形式把返回的series（一维只有值和序号）变成dateframe(二维)

In [77]:
# C-1 直接给完整代码：
df_投资方_企业名称 = df[["部分投资机构","企业名称"]]
所有投资机构 = [item for sublist in df_投资方_企业名称["部分投资机构"].str.split('[、,,]') for item in sublist]

touzi_dict = {}
for item in 所有投资机构:
    df_投资方_item = df_投资方_企业名称[df_投资方_企业名称["部分投资机构"].str.contains(item)]
    touzi_dict[item] =','.join([i for i in df_投资方_item["企业名称"].values])

投资方_独角兽企业_Series = pd.Series(touzi_dict)

df_投资方_独角兽企业 = pd.DataFrame({"投资方":投资方_独角兽企业_Series.index,"独角兽企业":投资方_独角兽企业_Series.values})
df_投资方_独角兽企业.index.name="序号"
df_投资方_独角兽企业 =pd.merge(df_投资方_独角兽企业.drop('独角兽企业', axis=1),\
                     df_投资方_独角兽企业['独角兽企业'].str.split(',', expand=True).stack().reset_index(level=1,drop=True).rename('独角兽企业'),\
                     on="序号")
df_投资方_独角兽企业

                       投资方                  独角兽企业
序号
0                     春华资本                   蚂蚁金服
0                     春华资本                   菜鸟网络
1                     中投海外                   蚂蚁金服
2                     红杉资本                   蚂蚁金服
2                     红杉资本                   字节跳动
..                     ...                    ...
952                   慕华投资                   网易有道
953            GPI Capital            Zeta Global
954   GSO Capital Partners            Zeta Global
955   Visionnaire Ventures  Zipline International
956      Katalyst.Ventures  Zipline International

[2959 rows x 2 columns]

# 本周小结
1. 数据框新增变量
  * 用str字符串方法處理文本數據
  * assign新增一列
2. 数据框重塑
  * drop为删除某一列, split()拆分列元素, stack()是将原来的列索引转成了多层次索引
3. 聚合
  * merge数据会被复制,数目以多的一边为准